name: CI

on: 
  push:
    branches: 
      - main
      - master
    paths-ignore:
      - '.github/workflows/init.yml'
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10 including semver
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - '.github/workflows/init.yml'

jobs:

  build_docs:
    runs-on: ubuntu-22.04
    name: Build, Install, Package documentation
    if: ${{ github.event_name != 'push' || !contains(github.event.head_commit.message, 'docs skip') }}
    steps:
    - uses: actions/checkout@v4
    - name: Install credentials
      run: echo https://$GITHUB_OAUTH:@github.com > $HOME/.git-credentials
      env:
        GITHUB_OAUTH: ${{ secrets.CR_PAT_WORKFLOW }}
    - name: Generate Antora Site
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        pip3 install -r requirements.txt
        npm install
        npm run antora

    - name: Deploy
      if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
      uses: JamesIves/github-pages-deploy-action@v4
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: public # The folder the action should deploy.
